
@import "day-style.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue';
}
body{
    background-color: #3c3c3c;
    transition: .4s;
}
header{
    width: 100%;
    height: 100px;
}
h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 15px;
    font-weight: bold;
    font-size: 80px;
    color: #7c4f01;
}

main{
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
}
.calculator{
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: black;
}
.display{
    width: 100%;
    height: 30%;
    position: relative;
    color: white;
    border-radius: 20px 20px 0 0;
}
.current{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
}
.currentInput{
    display: inline-block;
    position: inherit;
    bottom: 10px;
    right: 10px;
    font-size: 56px;
    color: white;
}
.previous{
    position: absolute;
    width: 100%;
    height: 40%;
}
.previousInput{
    display: inline-block;
    position: inherit;
    bottom: 8px;
    right: 10px;
    font-size: 30px;
}
.buttons{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:5px 0;
}
button{
    width: 23%;
    height: 19%;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgb(83, 82, 82);
}
i{
    color: orange;
    font-size: 28px;
}
.number{
    color: white;
    font-size: 28px;
}
button:active {
    border: 4px solid orange;
    font-size: 32px;
}
button:active i{
    font-size: 32px;
}
.mode{
    position: relative;
}
.sun, .moon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
}
.sun{
    opacity: 1;
}
.moon{
    opacity: 0;
}

@media  (max-width: 530px){
    header{
        height: 80px;
        line-height: 80px;
    }
    h1{
       font-size: 50px;
    }
    .calculator{
        height: 100%;
        width: 99vw;
    }
}

 @media (max-width: 690px){
   h1{
    font-size: 50px;
   }
}